/* Декстоп версия */

.form {
  font-family: "Manrope", serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  height: 120%;
}
textarea {
  font-family: inherit;
}
.inputBlock {
  display: flex;
  gap: 12px;
}

.icon {
  height: 48px;
  width: 100%;
  fill: black;
}
.inputBlock:focus-within .icon {
  fill: #5cc1ef;
}

.input {
  height: 36px;
  background-color: inherit;
  font-weight: 400;
  color: var(--text);
  font-size: 20px;
  min-width: 438px;
  border: none;
  border-bottom: 1px solid #000000;
  resize: none;
  outline: none;
}
.input::placeholder {
  color: var(--text);
}

.input:focus {
  border: none;
  border-bottom: 2px solid #5cc1ef;
}
.input:focus::placeholder {
  color: #5cc1ef;
}

.letterSubmitWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message {
  padding: 20px;
  font-size: 18px;
  resize: none;
  height: 200px;
  border: 2px solid transparent;
  border-radius: 16px;
}

.message:focus {
  outline: none;
  border-color: #5cc1ef;
  box-shadow: 0 0 0 2px rgba(92, 193, 239, 0.2);
}

.button {
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  height: 101px;
  min-width: 320px;
  background-color: var(--button);
  color: white;
  border-radius: 15px;
  border: 0px;
}

.button:hover {
  background-color: #0bb13e;
}
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.inputTitle {
  color: var(--text);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 38px;
}
.result {
  font-size: 32px;
  font-weight: 400;
}
.resultBox {
  margin-bottom: 32px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 32px;
}

@media (max-width: 1438px) {
  .resultBox {
    align-self: start;
  }
}

@media (max-width: 1022px) {
  .form {
    align-items: center;
  }
  .inputBlock {
    flex-direction: column;
  }
  .resultBox {
    align-self: center;
  }
}

@media (max-width: 766px) {
  .icon {
    display: none;
  }
  .button {
    font-size: 16px;
  }
  .input {
    min-width: 200px;
  }
}
@media (max-width: 424px) {
  .button {
    min-width: 250px;
  }
}
