.header {
  display: flex;
  min-height: 672px;
  justify-content: space-between;
}
.textBlock {
  display: block;
}

.title {
  color: rgba(110, 190, 131, 1);
  margin-top: 45px;
  font-size: 64px;
  margin-left: 45px;
  padding-bottom: 32px;
}
.description {
  text-align: start;
  margin-left: 45px;
  font-size: 16px;
  max-width: 580px;
  font-weight: 400;
}
