.formTitle {
  font-size: 64px;
  color: white;
}
.titleContainer {
  display: flex;
  height: 129px;
  background-color: rgba(23, 151, 57, 1);
  padding: 45px 41px 0px;
}
.section {
  margin: 0px;
  width: 100%;
  background: #f3f4f6; /* твой цвет */
}
